.contenuLeft{
    background-color: var(--secondary-color);
    margin: 0;
    padding: 0;
    width: 10%;
    transition: width 0.3s ease;
    overflow: hidden;
}


.widthOuverture{
    display: flex;
    justify-content: end;
    transition: width 0.3s ease;
    margin-top: 2%;
}

.ouverture{
    background-color: var(--primary-color);
    color: var(--text-color);
    border-radius: 50%;
    width: 2%;
    height: 3vh;
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
    cursor: pointer;
}

.TitreCategorie{
    text-align: center;
    font-weight: bold;
    color: var(--text-color);
    
}

.ulCategorie{
    list-style: none;
    height: 100%;
}